voc 
	display: block

.voc 
		display: flex
		align-items: center
		min-height: 100%
		width: 100%

		&_container 
			display: block
			a.btn 
				margin-top: 28px

		&_input 
			min-height: 295px
			font-size: 24px
			padding: 8px
			background: white

			& span 
				&:hover 
					cursor: pointer
				
		&_footer-links
			text-align: center
			margin-bottom: 20px
			margin-top: 10px

		#loginForm 
			display: block

		#accountForm 
			display: none







